* {
    box-sizing: border-box;
  }

@font-face {
    font-family: 'Maison Neue Bold';
    src: url('../fonts/MaisonNeueBold.otf') format('opentype');
}

@font-face {
    font-family: 'Maison Neue Demi';
    src: url('../fonts/MaisonNeueDemi.otf') format('opentype');
}

@font-face {
    font-family: 'Maison Neue Medium';
    src: url('../fonts/MaisonNeueMedium.otf') format('opentype');
}

@font-face {
    font-family: 'Maison Neue Book';
    src: url('../fonts/MaisonNeueBook.otf') format('opentype');
}

@font-face {
    font-family: 'Maison Neue Book Italic';
    src: url('../fonts/MaisonNeueBookItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Maison Neue Light';
    src: url('../fonts/MaisonNeueLight.otf') format('opentype');
}

body{
    background-color: #f1f1f1;
}

/* NAVIGATION */

nav a{
    font-family: 'Maison Neue Book';
    text-decoration: none;
    font-size: 20px;
    color: #171717;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-bar a{ 
    display: inline-block;
    padding-right: 50px;
    padding-top: 30px;
}

.name{
    display: inline-block;
    padding-left: 50px;
    padding-top: 30px;  
}

/* INTRODUCTION */

h1{
    font-family: 'Maison Neue Book';
    text-decoration: none;
    font-size: 15px;
    color: #171717;
    margin: 0;
    padding: 0;
}

h2{
    font-family: 'Maison Neue Demi';
    text-decoration: none;
    font-size: 55px;
    color: #171717;
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Maison Neue Book';
    text-decoration: none;
    font-size: 24px;
    color: #171717;
    margin: 0;
    padding: 0;
}

.highlight{
    color: #5E5EFF;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 1000px;
    margin: 0 auto; 
    padding-top: 110px;
}

.location{
    display: flex;
    align-items: flex-end;
}

.intro p{
    max-width: 500px;
}

/* WORK */

.work-title{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 400px;
}

.work-title p{
    color: #636363;
}

h3{
    font-family: 'Maison Neue Book';
    text-decoration: none;
    font-size: 24px;
    color: #5E5EFF;
    margin: 0;
    padding: 0;
}

.content a{
    font-family: 'Maison Neue Demi';
    text-decoration: none;
    font-size: 36px;
    color: #171717;
    margin: 0;
    padding: 0;
    display: inline-block;
    max-width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content a:hover{
    text-decoration: underline;
}

h4{
    font-family: 'Maison Neue Book Italic';
    text-decoration: none;
    font-size: 24px;
    color: #171717;
    margin: 0;
    padding: 0;
}


.work-one{
    display: flex;
    justify-content: space-between;
    padding-top: 275px;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}

.work-two{
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}

/* FOOTER */

.horizontal-line {
    border: none; 
    border-top: 1.5px solid #171717; 
    margin: 10px 0; 
}

.footer, .footer a, .footer h5{
    font-family: 'Maison Neue Book';
    text-decoration: none;
    font-size: 20px;
    color: #171717;
    margin: 0;
    padding: 0;
}

.footer a:hover{
    text-decoration: underline;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 10px ;
}

footer{
    padding-top: 400px;
}

.footer-right a{
    padding-right: 15px;
}






  